@model SocialNetworkingSignalR.Models.ViewModels.Account.LoginVM

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id="loginform"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal loginform">
        <div class="alert alert-danger em">Incorrect username or password</div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UsernameLogin , new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.EditorFor(model => model.UsernameLogin, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.UsernameLogin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordLogin, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-7">
                @Html.PasswordFor(model => model.PasswordLogin, new {  @class = "form-control"  })
                @Html.ValidationMessageFor(model => model.PasswordLogin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
        <div class="ajaxdiv hide">
            <img src="~/Content/Images/ajax-loaderwhite.gif" />
        </div>
    </div>
}

