
@{
    ViewBag.Title = ViewBag.Username;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-md-6">
        <p class="userimg">
            <img src="~/Uploads/@ViewBag.UsernameImage" />
        </p>
        <h3>@ViewBag.ViewFullName (@ViewBag.Username)</h3>
        @if(ViewBag.UserType == "guest")
        {
            <div class="friends">
                 @if(ViewBag.NotFriends == "Pending")
                 {
                     <div class="arefriendsdiv alert-warning">
                         <p>Pending friend request</p>
                     </div>
                 }
                 else if (ViewBag.NotFriends =="True")
                 {
                    <div class="arefriendsdiv alert-info">
                        <a href="#" class="addfriend">Add Friend</a>
                    </div>
                 }
                 else
                 {
                    <div class="arefriendsdiv alert-success">
                        <span class="glyphicon glyphicon-thumbs-up"></span>Friends
                    </div>
                 }
            </div>
        }

        <div class="friends @User.Identity.Name alert alert-success">
            <span>@ViewBag.FCount friend(s)</span>
        </div>

    </div>


</div>



@section Scripts{

<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="/signalr/hubs"></script>

    
<script>
    $(function () {

        //Live search
        $("#searchtext").keyup(function () {
 
            var searchVal = $("#searchtext").val();

            $("#livesearch").empty();


            if (searchVal == "" || searchVal == " ") {
                return false;
            }
            var url = "profile/LiveSearch";

            $.post(url, { search:  searchVal }, function (data) {
                if (data.length > 0) {
                    $("#livesearch").append("<li class=closeSearch>X</li>");
                }
                for (var i = 0; i < data.length; i++) {
                    var obj = data[i];
                    $("#livesearch")
                        .append("<li class='livesearchli'><a href='/" + obj.Username + "'><img src='/Uploads/" + obj.UserId + ".jpg' class=searchImg />" + " " + " " + obj.FirstName + " " + obj.LastName + "</a></li>");
                        
                }
            });
        })

    });

    //Display friends request
    $("body").on("click", ".frnotif.red", function () {
        $("#frnotiful").empty();
        var url = "profile/DisplayFriendRequest";

        $.post(url, { }, function (data) {
            if (data.length > 0) {
                $("#frnotiful").append("<li class=closefrlist>X</li>");
            }
            for (var i = 0; i < data.length; i++) {
                var obj = data[i];
                $("#frnotiful")
                    .append("<li class='frnotifli'><a href='/" + obj.Username + "'><img src='/Uploads/" + obj.Id + ".jpg' class=searchImg />" + " "
                    + " " + obj.FirstName + " " + obj.LastName + "</a>" + "<a class='accept' href=# data-id='" + obj.Id +
                    "'><span class='glyphicon glyphicon-ok'></span></a>" + " " + " <a class='decline' href =# data-id='" + obj.Id +
                    "'><span class='glyphicon glyphicon-remove'></span></a></li>");

            }
        });
    })

    


    $("body").on("click", ".closeSearch", function () {
        $("#livesearch").empty();
    });

    $("body").on("click", ".closefrlist", function () {
        $("#frnotiful").empty();
    });

    /*
    *   Hub
    *
    */
    //Setup connection
    var hub = $.connection.echo;

   
    //Connect to hub
    $.connection.hub
        .start()
        .done(function () {
            hub.server.hello("SignalR working");

            //Add friends

            $(".addfriend").click(function (e) {
                e.preventDefault();
                var friend = '@ViewBag.Username';
                
                var url = "/Profile/AddFriend";
                $.post(url, { friend: friend }, function (data) {
                    $(".arefriendsdiv").removeClass("alert-info").addClass("alert-warning")
                        .html("<p>pending friend request</p>");
                }).done(function () {
                            hub.server.notify(friend);
                        
                    });

            });

            //Accept friends request
            $("body").on("click", ".accept", function (e) {
                e.preventDefault();
                var $this = $(this);

                var url = "profile/AcceptFriendRequest";
                var friendId = $this.data("id");

                $.post(url, { friendId: friendId }, function (data) {

                }).done(function () {
                    $this.parent().fadeOut("fast");
                    hub.server.getFrCount();
                    hub.server.getFCount(friendId);
                });
            });


            //Decline friends request
            $("body").on("click", ".decline", function (e) {
                e.preventDefault();
                var $this = $(this);

                var url = "profile/DeclineFriendRequest";
                var friendId = $this.data("id");

                $.post(url, { friendId: friendId }, function (data) {

                }).done(function () {
                    $this.parent().fadeOut("fast");
                    hub.server.getFrCount();
                    
                });
            })
           

        })

  
    //client function to be called from server
    hub.client.test = function (msg) {
        console.log(msg);
    }

    hub.client.frnotify = function (f, count) {
        $(".frnotif." + f).text(count);
        $(".frnotif." + f).addClass("red");
    }

    hub.client.frcount = function (username, count) {
        if (count > 0) {
            $(".frnotif." + username).text(count);
        }
        else {
            $(".frnotif." + username).text("");
            $(".frnotif." + username).removeClass("red");
            $("#frnotiful").text("");
        }

    }


    hub.client.fcount = function (u1, u2, count1, count2) {
        if (count1 > 0) {
            $(".friends." + u1).text(count1 + " friend(s)");
        }
        else {
            $(".friends." + u1).text("0");
        }
        if (count2 > 0) {
            $(".friends." + u2).text(count2 + " friend(s)");
        }
        else {
            $(".friends." + u2).text("0");
        }
    }


</script>    
    
}